apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: devops-app-servicemonitor
  namespace: monitoring
  labels:
    release: monitoring   
spec:
  namespaceSelector:
    matchNames:
      - devops-app
  selector:
    matchLabels:
      app: devops-app     
  endpoints:
    - port: http          
      path: /metrics
      interval: 15s
