replicaCount: 2

image:
  repository: ghcr.io/shamansit/devops-salesforce-pipeline/fastapi-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: devops-app.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

podAnnotations: {}
podLabels: {}

nameOverride: ""
fullnameOverride: ""

podSecurityContext: {}
securityContext: {}

serviceAccount:
  create: false
  name: ""
