# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Tests (if not needed in the container)
tests/

# Git
.git
.gitignore
.github/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Local images and docs
images/
*.md
